.main {
  display: flex;
  flex-direction: column;



}

.containerLoading {
  position: relative;
  width: auto;
  height: 100vb;
  margin: 0px 20%;
  padding-top: 10rem;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom:50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.container {
  width: auto;
  height: 100%;
  margin: 0px 20%;
  padding-top: 10rem;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom:50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container h3 {
  color: #C08268;
} 


@media (width<=1024px) { 

  .container{
    width: 70%;
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (width<= 768px) { 

  .container{
    width: 100%;
    margin: 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  
.containerLoading {
  width: 100%;
  margin: 0px 0px;
  padding-left: 20px;
  padding-right: 20px;
}

}